@(regForm: Form[Register])

@import helper._
@import bootstrap._

@main {
    @if(regForm.hasErrors) {
        <div class="alert alert-danger">
            <a class="close" data-dismiss="alert">x</a>
            @if(regForm.errors.size() > 0) {
                @for((key, value) <- regForm.errors) {
                    @for(err <- value) {
                        <p>@err.message().toString()</p>
                    }
                }
            }
        </div>
    }

    @helper.form(routes.Auth.register()) {
        @bootstrap.text(regForm("email"),'_label ->  "Email", 'type -> "email")
        @bootstrap.text(regForm("password"),'_label ->  "Пароль", 'type -> "password")
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
        </div>
    }
}